/* HOME SECTION */

#navigation {
  margin-top: 15px;
  height: 50px;
  float: right;
}

#navigation .nav a{
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.container .poly img{
  width: 100% !important;
}

.container .mylogo img{
  margin-top: 105px;
    width: 400px !important;
}

.direction-arrow{
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.direction-arrow button {
  border: none !important;
  font-size: 3em;
}

/* GALLERY SECTION */

.bg-gallery {
  background-color: #e2e2e2;
  padding-top: 10px;
  padding-bottom: 25px;
}


/* ABOUT ME SECTION */

.aboutme {
  padding-top: 40px;
}

.icon-about{
  width: 150px;
}

ul{
  padding: 0;
  list-style: none;
}

/* CONTACT SECTION */

.contact  {
  padding: 20px;
}

.mybtn{
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

.footer{
  background-color: #e2e2e2;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer img {
  height: 35px;
}
